.dokuwiki div.strata-debug {
    line-height: normal;
    font-family: monospace;
    background-color: __background_neu__;
    border: 1px solid __border__;
    border-top: 0;
    padding: 2px 0 2px 0;
}

.dokuwiki div.strata-debug-message {
    color: black;
    background-repeat: no-repeat;
    background-position: .5em 0.1em;
    border: 1px solid;
    margin: 0;
    padding-left: 2.5em;
    background-color: #FCC;
    background-image: url(../../images/error.png);
    border-color: #FAA;
}

.dokuwiki div.strata-debug div.strata-debug-line {
    white-space: pre;
    padding: 0 2px 0 2px;
}

.dokuwiki div.strata-debug div.strata-debug-highlight {
    background-color: #FCC;
    color: black;
}

.dokuwiki .strata-data-fragment-link-previous {
    float: left;
}
.dokuwiki .strata-data-fragment-link-next {
    float: right;
}
